body {
    margin: 0px;
}
.container {
    margin: 0px 100px;
}
.header {
    background-image: url(img/bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    width: 70px;
    height: auto;
}
.header-line {
    display: flex;
    align-items: center;
    padding-top: 70px;
    justify-content: space-between;
}
.vk {
    width: 40px;
    height: auto;
    margin-right: 20px;
}
.tg {
    width: 40px;
    height: auto;
    margin-right: 20px;
}
.yt {
    width: 60px;
    height: auto;
}
.header-img {
    display: flex;
    align-items: center;
}
.nav-item {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-right: 50px;
    font-weight: 700;
    transition: color 0.3s linear;
}
.nav-item:hover {
color: blueviolet;
}
.header-nav {
    margin-left: 40px;
}
.header-nav span {
    color: blueviolet;
}